* {
    margin: 0px ;
    
}
html {
    font-size: 16px; /* Tamaño base */
    
    display: flex;
    /* max-height: max-content; */
    /* align-content: center; */
}
header {
    /* display: flex; */
    align-items: center;
    /* background-image: url(../IMG/OIP.jpg); */
    /* background-position:left;    /* Centra la imagen */
    /* background-size: auto; */
    /* background-repeat: no-repeat;    Evita que la imagen se repita */
    /* background-blend-mode:multiply; */ 
    
    
    text-align: center;    /*Centra el contenido horizontalmente
    color: white;    /* Color de texto para el encabezado */
}


H1 {
    font-size: 2rem;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    /* font-size: max-content; */
    /* display: inline; */
    
   
    text-align:center;
    /* align-content: center; */
    /* font-size: max-content; */
    /* text-align: center; */
    /* margin: 0 auto; */
    /* position: fixed; */
    /* left: 35%; */

    color: black;
    background-color: rgba(0, 0, 0, 0); /* Fondo transparente con un valor de opacidad */
    /* padding-top: 100px; */
    /* padding: 10; */
    /* top: 100px;    */
    /* margin: 0px 20px 0px 20px; */
    /* padding: 0px 20px 0px 20px;    Espaciado interno superior e inferior */
    /* position: fixed;    Fija el nav en la parte superior */
    
    /* padding: 20px;   Espaciado interno dentro del h1 */
    margin-top: 50px;  /* Elimina el margen predeterminado del h1*/
}
i {
    align-content: center;
    width: 35px; /* Ajusta el tamaño según tu preferencia */
    height: 35px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; 
    color:cornflowerblue;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
    color: blue;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);    /* Color de fondo del menú */
    color: gold;    /* Color de texto */
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 0;    /* Espaciado interno superior e inferior */
    position: fixed;    /* Fija el nav en la parte superior */
    top: 0;    /* Asegura que esté en la parte superior */
    width: 100%;
}

nav ul {
    list-style: none;    /* Quita los puntos de lista */
    margin: 0;
    padding: 0;
    display: flex;    /* Muestra los elementos en una fila */
    justify-content:right;    /* Centra los elementos horizontalmente */
}

nav li {
    margin: 0 15px;    /* Espaciado entre elementos de la lista */
}

nav a {
    text-decoration: none;    /* Quita la decoración de enlace */
    color: white;    /* Color de enlace no visitado */
    transition: color 0.3s;    /* Transición suave al cambiar el color */
}

nav a:hover {
    color: lightblue;    /* Color de enlace al pasar el mouse por encima */
}

p, td, th {
    font-size: 10pt;
     font-family: verdana, arial;
     font-weight: normal;
     color: black;
     text-align: center;
     width: auto;
     /* background-color: rgba(0, 0, 0, 0.3); */
     
 }

BODY {
    background-image: url('../IMG/cielo.png');    /* Ruta de la imagen de fondo */
    background-color: rgba(159, 213, 209, 0.3);
    background-size:cover;    /* Ajusta la imagen al tamaño del contenedor */
    /* background-color:aquamarine; */
   
  
  background-repeat: no-repeat;
  /* background-position: center top; */
    font-family: arial;
    /* color: white; */
    /* margin: 5px; */
    /* background-blend-mode:multiply; */
    /* opacity: 0.9; */

    /* border: solid  3px gray ; */
    /* border-radius: 5px; */
    width: 100vw;
  /* height: 100vh; */
}

td {
    font-size: 10pt;
    font-family: verdana, arial;
    text-align: center;
    /* font-style:italic; */
    /* background-color: 666666; */
}


.table-container {
    /* position:fixed; */
    margin-top: 10px;
    
    bottom: 50px;
    /* max-width:max-content; */
    overflow-x: auto;
    border-radius: 5px;
    width: 100vw;
    max-width: 100vw;  
}

.symmetric-table {
    width:100vw;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.symmetric-table th, .symmetric-table td {
    /* font-style: normal; */
    /* background-color: gray; */
    border: 1px solid #ccc;
    
    padding: 8px;
    
    width: 33.33%;    /* Distribuye el ancho en partes iguales para tres columnas */
    box-sizing: border-box;    /* Incluye el ancho del borde en el cálculo total */
}
.cursiva {
    font-style: italic;
}
.CelyBlanco {
    background-color: blue;
    color: white;
}
.fondoClaro{
    text-align: center;
    margin: 10px;
    color: blueviolet;
}
footer{
    align-items: center;    
    font: bold;
    font-style: italic;
    /* position: fixed; */
    bottom: 0;
    text-align: center;
    font-size: fit-content;
    width:100vw;
    max-width: 100%;    
    margin: 10px 10px;
    color: blueviolet;
}

.centrado{
    align-items: center;
}

.icon-link {
    /* position: fixed; */
    
    bottom: 10px;
    right: 10px;
    /* background-color: #007bff; */
    padding: 5px;
    /* border-radius: 50%; */
    color: white;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}

.icon-link a {
    /* display: block; */
    width: 100%;
    height: 100%;
    align-self: auto;
    text-align: center;
    text-decoration: none;
}

.icon-link img {
    align-content: center;
    width: 55px; /* Ajusta el tamaño según tu preferencia */
    height: 55px;
}
#abajo {
    font-size: 20px;
    font-style: oblique;
    text-decoration: none;
}
.izq {
    /* margin: 0px 50px 0px 0px; */
    margin-right: 50px;
}
.contenedor {
    display:inline;
    justify-content: center;
    width: 100vw
  }
canvas{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: auto;
    width: 10vw
    height=200px;
    
}